<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "APP" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LL8SH5VLRC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LL8SH5VLRC');
    </script>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : '一番思い出感があるフォントを探すアプリ' %>">
    <meta property="og:description" content="このサイトは、あなたにとって一番思い出深いフォントを見つけるためのページです。">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= asset_url('app.png') %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="ja_JP">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : '一番思い出感があるフォントを探すアプリ' %>">
    <meta name="twitter:description" content="このサイトは、あなたにとって一番思い出深いフォントを見つけるためのページです。">
    <meta name="twitter:image" content="<%= asset_url('app.png') %>">
    <meta name="twitter:image:width" content="1200"> 
    <meta name="twitter:image:height" content="630"> 
    <meta name="twitter:url" content="<%= request.original_url %>">

    <%= stylesheet_link_tag "application", "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
